* {
    font-size: 20px;
}
body {
    display: flex;
    justify-content: center;
}

th {
    height: 50px;
}

#container {
    margin-top: 20px;
    width: 40em;
    display: flex;
    flex-direction: column;
}

.img-fluid {
    width: 100px;
    height: 100px;
}