* {
    font-size: 20px;
}
body {
    display: flex;
    justify-content: center;
    background-color: #ecebeb;
}

th {
    height: 50px;
}

span {
    width: 70%;
    display: block;
}

#container {
    margin-top: 20px;
    width: 40em;
    display: flex;
    flex-direction: column;
}

.table {
    padding: 30px;
    text-align: justify;
}

.table span {
    font-weight: bold;
    color: #373737;
    text-align: center;
}

.table button {
    width: 60px;
    font-size: 20px;
    color: black;
    margin: 5px;
    position: relative;
    left: 30px;
}

.img-fluid {
    width: 70px;
    height: 70px;
}

.posicao-margin {
    position: relative;
    right: 20px;
}

/*TIPOS POKEMIN -- INICIO*/
.steel {
	background-color: #f4f4f4;
}

.fire {
	background-color: #cf1b1b95;
    padding: 10px 15px;
    border-radius: 10px;
}

.grass {
	background-color: #38d443;
    padding: 10px;
    border-radius: 10px;
}

.electric {
	background-color: #ffd500;
    padding: 10px 15px;

    border-radius: 10px;
}

.water, .ice {
	background-color: #428bac;
    padding: 10px 15px;
    border-radius: 10px;
}

.ground {
	background-color: #f4e7da;
}

.rock {
	background-color: #d5d5d4;
}

.fairy {
	background-color: #9f5dab;
    padding: 10px 15px;
    border-radius: 10px;
}

.poison {
	background-color: #98d7a5;
}

.bug {
	background-color: #f8d5a3;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #eaeda1;
}

.flying {
	background-color: #F5F5F5;
}

.fighting {
	background-color: #E6E0D4;
}

.normal {
	background-color: #958f5c;
    padding: 10px 15px;
    border-radius: 10px;
}

/*TIPOS POKEMIN -- FIM*/